
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
}

/* ============================= */
/* High Contrast Accessibility  */
/* ============================= */

* {
  scroll-behavior: smooth;
}